.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 3px solid rgb(16, 12, 1);
    background-color: bisque;
    margin-left: 350px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(249, 196, 130);
    /* left: 20px;
    bottom: 20px; */
    border: 1px solid black;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(245, 148, 29);
    border: 1px solid black;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(245, 148, 29);
    border: 1px solid black;
}