/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header styles */
header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

nav a img {
  padding-top: 5px;
  width: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}

nav a:hover {
  color: rgb(247, 191, 138);
}

/* Banner styles */
#banner {
  height: 400px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  animation: slide-animation 10s ease-in-out infinite;
}

.slide1 {
  background-image: url("Images/Banner1.jpg");
}

.slide2 {
  background-image: url("Images/Banner2.jpg");
  animation-delay: 5s;
}

.slide3 {
  background-image: url("Images/Banner3.jpg");
  animation-delay: 7.5s;
}

.slide4 {
  background-image: url("Images/Banner4.jpg");
  animation-delay: 9s;
}

.slide5 {
  background-image: url("Images/Banner5.jpg");
  animation-delay: 10.5s;
}

@keyframes slide-animation {
  0% {
    opacity: 0;
    /* transform: scale(1.2); */
  }
  10% {
    opacity: 1;
    /* transform: scale(1); */
  }
  30% {
    opacity: 1;
    /* transform: scale(1); */
  }
  50% {
    opacity: 0;
    /* transform: scale(1.2); */
  }
  100% {
    opacity: 0;
    /* transform: scale(1.2); */
  }
}

/* Services styles */
#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  width: 300px;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: translate(0, -10px);
  transition: transform 0.8s;
  box-shadow: -1px -1px 1px 1px rgb(86, 86, 86);
}

.card h3 {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
}

.card p {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}

.btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  margin: 1rem auto;
  width: 80%;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
}
